body {
    margin: 0;
    background: #eee;
    color: #222;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-size: 150%;
    font-weight: 300;
    padding: 0px 50px 180px;
}
.pagetitle{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 250%;
    font-weight: 400;
    letter-spacing: 6px;
    word-spacing: 10px;
    text-transform: uppercase;
    padding: 40px 0px;
}

.logoimg {
    width: 320px;
    height: 320px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    position: fixed;
    bottom: 0px;
    width: calc(100% - 70px);

    background: #222;
    text-align: center;
    color: #eee;
    letter-spacing: 4px;
    text-transform: uppercase;

    margin-left: -58px;
    padding: 20px 40px 60px 40px;
}

/*#p5CanvasDiv, */ .p5Canvas {
    display:block;
    margin-left: auto;
    margin-right: auto;
    border: 1px dashed black;
    border-radius: 5px;
}

#dtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    font-weight: 300;
    text-align:center;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 20px 20px;
    border-radius: 5px;
}