<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Doodle Board - Submission</title>
    <div th:replace="fragments/base :: headWithoutTitle"></div>
</head>
<body class="bg-light">
    <div th:replace="fragments/base :: topNavBar"></div>

    <div th:replace="fragments/base :: contentLogoHeading"></div>

    <h2 class="text-center mt-5">Thank you for your submission.</h2>

    <div class="row justify-content-center mt-5">
        <a class="btn btn-lg btn-outline-primary" th:href="@{/myposts}">View your posts</a>
    </div>

    <div class="pt-5 mb-5"></div>
    <footer th:replace="fragments/base :: footerfixed"></footer>

    <div th:replace="fragments/base :: scripts"></div>
</body>
</html>