<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Doodle Board - Feed</title>
    <link rel="icon" type="image/png" th:href="@{images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{newmain.css}"/>
    <!-- Google fonts import for Roboto, Open Sans -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@300;400&display=swap"
          rel="stylesheet">
    <!-- P5JS Library (Minified) script -->
    <script th:src="@{scripts/p5.min.js}"></script>
</head>
<body class="bg-light">
    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand">
            <img th:src="@{images/website_logo.png}"
                 width="32"
                 height="32"
                 alt="Logo of the website, which is an illustration of a painting canvas."/>
            Doodle Board
        </a>
        <button class="navbar-toggler justify-content-end"
                type="button"
                data-toggle="collapse"
                data-target="#navBarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navBarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link"
                       th:href="@{/}"
                       th:classappend="${#request.getServletPath() == '/' ? 'active' : ''}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       th:href="@{/login}"
                       th:classappend="${#request.getServletPath() == '/login' ? 'active' : ''}"
                       th:if="${#authentication.getName().equals('anonymousUser')}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       th:href="@{/register}"
                       th:classappend="${#request.getServletPath() == '/register' ? 'active' : ''}"
                       th:if="${#authentication.getName().equals('anonymousUser')}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       th:href="@{/draw}"
                       th:classappend="${#request.getServletPath() == '/draw' ? 'active' : ''}"
                       th:if="${!#authentication.getName().equals('anonymousUser')}">Draw</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       th:href="@{/feed}"
                       th:classappend="${#request.getServletPath() == '/feed' ? 'active' : ''}"
                       th:if="${!#authentication.getName().equals('anonymousUser')}">Feed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger"
                       th:href="@{/logout}"
                       th:if="${!#authentication.getName().equals('anonymousUser')}">Logout</a>
                </li>
            </ul>
        </div>
    </div>


    <h2 class="mt-2 text-center p-2" th:text="${'Hi, ' + username + '!'}">Hello, Placeholder!</h2>
    <h1 class="mt-2 text-center p-2">Your Submissions</h1>

    <!-- Hidden input element which stores the palette list received from the Model in value attribute -->
    <input type="hidden" th:value="${palette}" id="plt"/>

    <div class="feedpost bg-white p-4 p-lg-5 mt-5 mb-5 col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4"
         th:each="post: ${posts}">
        <!--Adding a regular canvas to each post-->
        <canvas class="doodleCanvas" style=""></canvas>
        <input type="hidden" class="drawingStr" th:value="${post.content.data}"/>
        <b th:text="${post.title}">Title of Doodle</b>
        <br/>
        <span th:text="'♥ ' + ${post.numLikes}" class="likeCount">Number of Likes on the Doodle</span>
        <br/>
        <span
        th:text="'Posted: ' + ${post.postedAt.getDayOfMonth()} + ' ' +
         ${#strings.capitalize(post.postedAt.getMonth().toString().toLowerCase())} + ' ' +
         ${post.postedAt.getYear()} + ', ' +
         ${post.postedAt.getHour()<13?post.postedAt.getHour():post.postedAt.getHour()-12} + ':' +
         ${post.postedAt.getMinute()<10?'0' + post.postedAt.getMinute():post.postedAt.getMinute()} +
         ' ' + ${post.postedAt.getHour()<13?'AM':'PM'} ";
        style="font-size: 70%;"
        >Posted Date & Time</span>
    </div>

<!--    <footer class="row bg-dark text-light text-center pt-1 pb-1 pt-lg-4 pb-lg-4 pl-3 pr-3 pt-2">-->
    <footer class="container-fluid bg-dark text-light text-center pt-1 pb-1 pt-lg-4 pb-lg-4 pl-3 pr-3 pt-2">
        <div class="row">
            <span class="col-lg-4 p-0">Copyright @2020 </span>
            <span class="col-lg-4 p-0">Sebin Puthenthara Suresh </span>
            <span class="col-lg-4 p-0">CS 321-1 </span>
        </div>
    </footer>

    <script th:src="@{webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
    <script th:src="@{webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>

    <!-- p5js running script -->
    <script th:src="@{scripts/feed_script.js}"></script>
</body>
</html>