<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Doodle Board - Feed</title>

    <link rel="icon" type="image/png" th:href="@{images/favicon.ico}">
    <link rel="stylesheet" type="text/css" th:href="@{main.css}"/>

    <!-- Google fonts import for Roboto, Open Sans -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <!-- P5JS Library (Minified) script -->
    <script th:src="@{scripts/p5.min.js}"></script>
</head>
<body>
    <div class="pagetitle">
        <img th:src="@{images/website_logo.png}"
             alt="Logo of the website, a painting canvas."
             style="width: 64px; height: 64px; margin-bottom: -10px;"/>
        Your Submissions
        <img th:src="@{images/website_logo.png}"
            alt="Logo of the website, a painting canvas."
            style="width: 64px; height: 64px; margin-bottom: -10px;"/>
    </div>

    <!-- Hidden input element which stores the palette list received from the Model in value attribute -->
    <input type="hidden" th:value="${palette}" id="plt"/>

    <div class="post" th:each="post: ${posts}">
        <!--Adding a regular canvas to each post-->
        <canvas class="doodleCanvas" style=""></canvas>
        <input type="hidden" class="drawingStr" th:value="${post.content.data}"/>
        <b th:text="${post.title}">Title of Doodle</b>
        <br/>
        <span th:text="'♥ ' + ${post.numLikes}" class="likeCount">Number of Likes on the Doodle</span>
        <br/>
        <span
        th:text="'Posted: ' + ${post.postedAt.getDayOfMonth()} + ' ' + ${post.postedAt.getMonth()} + ' ' +
                    ${post.postedAt.getYear()} + ', ' + ${post.postedAt.getHour()} + ':' +
                    ${post.postedAt.getMinute()}" style="font-size: 70%; text-transform: lowercase;">
            Posted Date & Time</span>
    </div>

    <!-- p5js running script -->
    <script th:src="@{scripts/feed_script.js}"></script>

    <footer>Copyright @2020 | Sebin Puthenthara Suresh | CS 321-1</footer>
</body>
</html>