<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Doodle Board - Feed</title>
    <div th:replace="fragments/base :: headWithoutTitleP5"></div>
</head>
<body class="bg-light">
    <div th:replace="fragments/base :: topNavBar"></div>

    <h2 class="mt-2 text-center p-2" th:text="${'Hi, ' + username + '!'}">Hello, Placeholder!</h2>
    <h1 class="mt-2 text-center p-2">Your Submissions</h1>

    <!-- Hidden input element which stores the palette list received from the Model in value attribute -->
    <input type="hidden" th:value="${palette}" id="plt"/>

    <div class="feedpost bg-white p-4 p-lg-5 mt-5 mb-5 col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4"
         th:each="post: ${posts}">
        <!--Adding a regular canvas to each post-->
        <canvas class="doodleCanvas" style=""></canvas>
        <input type="hidden" class="drawingStr" th:value="${post.content.data}"/>
        <b th:text="${post.title}">Title of Doodle</b>
        <br/>
        <span th:text="'♥ ' + ${post.numLikes}" class="likeCount">Number of Likes on the Doodle</span>
        <br/>
        <span
        th:text="'Posted: ' + ${post.postedAt.getDayOfMonth()} + ' ' +
         ${#strings.capitalize(post.postedAt.getMonth().toString().toLowerCase())} + ' ' +
         ${post.postedAt.getYear()} + ', ' +
         ${post.postedAt.getHour()<13?post.postedAt.getHour():post.postedAt.getHour()-12} + ':' +
         ${post.postedAt.getMinute()<10?'0' + post.postedAt.getMinute():post.postedAt.getMinute()} +
         ' ' + ${post.postedAt.getHour()<13?'AM':'PM'} ";
        style="font-size: 70%;"
        >Posted Date & Time</span>
    </div>

    <footer th:replace="fragments/base :: footernormal"></footer>

    <div th:replace="fragments/base :: scripts"></div>
    <!-- p5js running script -->
    <script th:src="@{scripts/feed_script.js}"></script>
</body>
</html>