<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Doodle Board - Home</title>

    <link rel="icon" type="image/png" th:href="@{images/favicon.ico}">
    <link rel="stylesheet" type="text/css" th:href="@{main.css}"/>

    <!-- Google fonts import for Roboto, Open Sans -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
<h1 class="pagetitle">Doodle Board</h1>
<img class="logoimg" th:src="@{images/website_logo.png}" alt="Logo of the website, which is an illustration of a painting canvas."/>

<footer>Copyright @2020 | Sebin Puthenthara Suresh | CS 321-1</footer>
</body>
</html>