<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Doodle Board - Home</title>
    <div th:replace="fragments/base :: headWithoutTitle"></div>
</head>
<body class="bg-light">

    <div th:replace="fragments/base :: topNavBar"></div>

    <div class="container-fluid justify-content-center mb-5 pb-5">

        <div th:replace="fragments/base :: contentLogoHeading"></div>


        <div class="text-center homechoices bg-white col-8 offset-2 offset-lg-3 col-lg-6 pt-3 pb-4 mt-3"
             th:if="${!#authentication.getName().equals('anonymousUser')}">
            <p class="row justify-content-center">Welcome back to Doodle Board!</p>
            <a th:href="@{/draw}">
                <button type="button" class="btn btn-outline-primary mt-2">Draw</button>
            </a>
            <p class="row justify-content-center pt-2 pb-2 mb-0">OR</p>
            <a th:href="@{/myposts}">
                <button type="button" class="btn btn-outline-primary">View your Posts</button>
            </a>
        </div>

        <div class="text-center homechoices bg-white col-8 offset-2 offset-lg-3 col-lg-6 pt-3 pb-4 mt-3"
             th:if="${#authentication.getName().equals('anonymousUser')}">
            <p class="row justify-content-center">Welcome to Doodle Board!</p>
            <a th:href="@{/login}">
                <button type="button" class="btn btn-outline-primary mt-2">Login</button>
            </a>
            <p class="row justify-content-center pt-2 pb-2 mb-0">OR</p>
            <a th:href="@{/register}">
                <button type="button" class="btn btn-outline-secondary">Register</button>
            </a>
        </div>

        <footer th:replace="fragments/base :: footerfixed"></footer>
    </div>

    <div th:replace="fragments/base :: scripts"></div>
</body>
</html>