<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Doodle Board - Home</title>

    <link rel="icon" type="image/png" th:href="@{images/favicon.ico}">
    <link rel="stylesheet" type="text/css" th:href="@{main.css}"/>

    <!-- Google fonts import for Roboto, Open Sans -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
<h1 class="pagetitle">Doodle Board</h1>
<img class="logoimg" th:src="@{images/website_logo.png}" alt="Logo of the website, which is an illustration of a painting canvas."/>
<p>
    Eros eu ac sed blandit ut pretium tellus ac maecenas torquent natoque risus euismod consectetuer, nulla mauris
    congue vel elementum condimentum mus eu, fermentum malesuada ultrices etiam purus vehicula auctor lorem tortor nunc.
    Sem ridiculus convallis aenean class varius volutpat nisi quisque arcu convallis cubilia nam. Aliquet etiam lacinia
    vehicula nonummy maecenas vel phasellus tempus porta aliquam Mus Nascetur turpis dictumst inceptos platea luctus
    egestas natoque massa nisi justo, nonummy Ac, sodales facilisis gravida pulvinar enim suspendisse lacus libero fames
    inceptos ridiculus. Semper, turpis neque dictumst placerat egestas, feugiat auctor at ridiculus aliquet sit sociis.
    Potenti eros sit etiam per Elit nostra etiam pharetra rhoncus pede massa diam vulputate. Arcu elementum sed purus.
    Erat. Leo dapibus non dignissim Varius dictumst Pede rutrum.
</p><p>
    Nam elementum Porttitor fermentum condimentum laoreet facilisis dapibus nisi suscipit suspendisse nibh ac. Tristique.
    Litora diam vestibulum tempor penatibus per lorem nulla hymenaeos torquent arcu sed a diam consectetuer cubilia
    aptent, imperdiet dapibus cubilia. Laoreet potenti nulla ullamcorper, amet sapien ante, tortor aliquet duis
    parturient. Magna litora Sodales mattis venenatis nonummy. Dignissim inceptos blandit dignissim lobortis metus
    tellus mi augue tempus Sed ante nascetur rhoncus urna sollicitudin risus porttitor ad habitant, cubilia Tortor
    ornare commodo malesuada curabitur sociosqu, enim hymenaeos diam praesent. Condimentum elementum, felis tempor
    aliquet.
</p><p>
    Interdum sed etiam montes nulla. Nec rutrum cubilia ultrices, faucibus aenean netus sociosqu gravida tristique
    eget sed tellus semper praesent Nam at bibendum vel nec tempus tempus. Accumsan curabitur platea. Ante consequat
    dolor, vulputate, quisque Torquent fringilla scelerisque. Pulvinar. Torquent lacus habitant pretium aenean quis
    quisque nostra taciti commodo dolor urna erat tortor ipsum egestas mauris vehicula maecenas dignissim elit,
    suspendisse ad vulputate laoreet mi nulla ad mauris duis interdum primis natoque sociis, egestas. In, sociis
    pretium cum accumsan, suspendisse.
</p><p>
    Dignissim penatibus aenean dolor, mus ultricies viverra. Est leo vel eget, at phasellus leo at porta hendrerit arcu.
    Arcu senectus porttitor velit maecenas mi at nec nec eu et nostra. Gravida mus cras sit nascetur orci morbi eget
    consequat elementum. Penatibus pharetra. Sit ad rhoncus litora velit est est nascetur, dis nibh varius torquent
    leo. Cum quam egestas malesuada. Penatibus in blandit. Nibh aptent nam. Pede. Adipiscing praesent nulla tempor
    ligula Mus pede velit non. Vivamus Adipiscing sem luctus sed. Hac blandit varius dictumst congue purus, conubia
    interdum fringilla placerat. Habitant tristique cubilia est at in. Orci ac litora in lacinia tristique quisque.
    Molestie, ipsum. Commodo magnis nulla nonummy duis molestie.
</p><p>
    Gravida natoque Ridiculus pretium auctor, morbi. Interdum. Interdum lacinia imperdiet purus. Lorem viverra.
    Habitasse mauris curabitur. Cras dolor hac. Ultricies. Molestie taciti commodo nonummy, hendrerit pellentesque
    tincidunt Pharetra donec bibendum. Habitasse porttitor mattis curabitur. Hendrerit. Pellentesque egestas curabitur
    dui gravida primis in gravida consectetuer sapien nibh facilisis porta donec sed cursus eu nostra varius ultrices
    per a aptent sociosqu porttitor sociosqu penatibus natoque commodo ultrices tincidunt aenean nullam enim hac
    elementum curae; nisi ipsum ut. Lorem volutpat auctor porta. Penatibus risus. Sed sociosqu dui aptent. Purus nam
    condimentum. Tellus. Nonummy nam parturient platea. Arcu ad enim. Accumsan libero cras. Potenti. Id lacus.
    Ultrices enim metus tempor lorem. Placerat.
</p><p>
    Torquent facilisis quis. Quam nam Parturient. Aliquet porttitor blandit amet non tellus class congue tortor. Fusce
    inceptos lacus curae;. Hac purus metus ante. Orci elementum ridiculus Nascetur duis sem pellentesque. Accumsan
    sodales porta. Iaculis dis pretium ornare. Dictumst senectus euismod velit adipiscing, aliquam sit tristique natoque.
    Hendrerit nisl class odio mus neque viverra phasellus luctus consequat sit netus posuere. Aliquet massa fermentum.
    Vehicula natoque. Tempor pellentesque facilisi. Vehicula. Blandit consectetuer tristique sodales tristique tempor.
    Ante porta eu sodales sagittis ridiculus, inceptos, nascetur potenti. Neque molestie conubia inceptos Vitae ipsum
    aliquam venenatis interdum.
</p>
<footer>Copyright @2020 | Sebin Puthenthara Suresh | CS 321-1</footer>
</body>
</html>