<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Doodle Board - Login</title>
    <div th:replace="fragments/base :: headWithoutTitle"></div>
</head>
<body class="bg-light">
    <div th:replace="fragments/base :: topNavBar"></div>

    <h1 class="mt-2 text-center p-2">Login to DoodleBoard</h1>

    <form method="post" th:action="@{/login}"
      id="loginForm"
      class="justify-content-center container-fluid text-center bg-white col-10 col-lg-5 mt-3 p-2 mb-5">

        <div th:if="${param.error}"
             class="justify-content-center text-danger row col-12 pt-3 pl-5">
            Unable to login. Check your username and password.</div>
        <a th:if="${param.error}" th:href="@{/register}"
             class="justify-content-center alert-link row col-12 pl-5">
            Register an account.</a>

        <div class="row form-group pt-3 pl-5">
            <label for="username" class="col-form-label text-left col-5 col-lg-3 offset-lg-1 pl-0">Username: </label>
            <input type="text"
                   th:name="username"
                   placeholder="Username"
                   class="form-control col-10 col-lg-6"
                   id="username"/>
        </div>

        <div class="row form-group mt-1 pl-5">
            <label for="password"
                   class="col-form-label text-left col-5 col-lg-3 offset-lg-1 pl-0">Password: </label>
            <input type="password"
                   placeholder="Password"
                   class="form-control col-10 col-lg-6"
                   th:name="password" id="password"/>
        </div>

        <input type="submit"
               class="btn btn-outline-primary btn-lg mt-2 mb-3 col-6"
               value="Login"/>
    </form>

    <!--Empty div for bottom spacing-->
    <div class="row m-0 mb-5 pb-5"></div>

    <footer th:replace="fragments/base :: footerfixed"></footer>

    <div th:replace="fragments/base :: scripts"></div>
</body>
</html>