<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Doodle Board - My Posts</title>
    <div th:replace="fragments/base :: headWithoutTitleP5"></div>
</head>
<body class="bg-light">
    <div th:replace="fragments/base :: topNavBar"></div>

    <h2 class="mt-2 text-center p-2" th:text="${'Hi, ' + username + '!'}">Hello, Placeholder!</h2>
    <h1 class="mt-2 text-center p-2">Your Submissions</h1>

    <!-- Hidden input element which stores the palette list received from the Model in value attribute -->
    <input type="hidden" th:value="${palette}" id="plt"/>

    <input type="hidden" id="currEditing" value=""/>

    <!--Div for each post in the My Posts page-->
    <div class="post bg-white p-4 p-lg-5 mt-5 mb-5 col-10 offset-1 col-md-8 offset-md-2 col-lg-4 offset-lg-4"
         th:each="post: ${posts}">

        <canvas class="doodleCanvas p-0 col-12" style=""></canvas>
        <input type="hidden" class="drawingStr" th:id="'str_' + ${post.getPostId()}" th:value="${post.content.data}"/>
        <div class="container-fluid p-1 row ml-0 mt-2">

            <b th:text="${post.title}"
               th:id="'title_' + ${post.getPostId()}"
               class="p-0 mt-auto mb-auto col-12 col-md-4">Title of Doodle</b>

            <div class="container-fluid col-12 col-md-8 p-0 m-0 row justify-content-md-end">

                <a class="btn btn-outline-primary col-auto mr-2 mb-2"
                   href="#"
                   th:onclick="$('#currEditing').val([[${post.postId}]]);
                                showViewRegion();
                                $('#viewusername').text([[${username}]]);
                                $('#viewtitle').text([[${post.title}]]);
                                $('#viewlikes').text([[${post.numLikes}]]);
                                $('#viewtime').text([[${#temporals.format(post.postedAt, 'dd-MMM-yyyy hh:MM a')}]]);"
                >👁️ View</a>

                <a class="btn btn-outline-primary col-auto mr-2 mb-2"
                   href="#"
                   th:onclick="'showEditRegion();' +
                                '$(\'#currEditing\').val(' + ${post.getPostId()} + ');'+
                                '$(\'#drawingForm\').attr(\'action\',\'/edit/' + ${post.getPostId()} + '\');' +
                                'setP5DrawingArray() '"
                >✏️ Edit</a>

                <a class="btn btn-outline-danger col-auto mb-2"
                   href="#"
                   th:onclick="'showDeleteRegion();' +
                        '$(\'#deleteform\').attr(\'action\',\'/delete/' + ${post.getPostId()} + '\');'">🗑️ Delete</a>
            </div>
        </div>
    </div>

    <!--Div for the modal doodle editing form-->
    <div class="fixed-top w-100 h-100 editouter"
         style="background-color: rgba(0,0,0,0.5); display:none;"
         id="editouter">
        <div class="block editouter" style="height: 5%;"></div>
        <div class="bg-white block col-12 col-md-10 col-lg-8 offset-lg-2 offset-md-1 pt-1 rounded"
             style="height: 90%; border: 1px solid gray; overflow: scroll;"
             id="editregion">

            <form method="post"
                  id="drawingForm"
                  style="border: 1px solid gray; border-radius: 4px;"
                  class="justify-content-center container-fluid text-center bg-white col-12 col-md-11 p-md-2 mb-2"
                  th:action="@{/edit/{postid}(postid=${doodlepost.getPostId()})}"
                  th:object="${doodlepost}">

                <!-- div to contain canvas generated by p5js -->
                <div id="p5CanvasDiv" class="row justify-content-center text-center m-0 p-0 pt-4" style="height:auto;">
                    <!--P5 canvas will be inserted in here-->
                </div>

                <span class="text-danger row text-center justify-content-center mt-2"
                      th:if="${errors != null and errors.hasFieldErrors('content.data')}"
                      th:text="${errors.getFieldError('content.data').getDefaultMessage()}">Drawing Error</span>
                <!-- Hidden input element which will store the drawing String in its value attribute -->
                <input type="hidden" th:field="*{content.data}" id="drawingStr" />


                <span class="row text-danger col-12 text-center justify-content-center mt-3 mb-0"
                      th:if="${errors != null and errors.hasFieldErrors('title')}"
                      th:text="${errors.getFieldError('title').getDefaultMessage()}">Title Error</span>
                <!-- Text input to store title of the doodle -->
                <input class="form-control row col-10 offset-1 text-center justify-content-center mt-3"
                       type="text"
                       size="40"
                       placeholder="Enter Title"
                       th:field="*{title}" id="dtitle"/>

                <button class="btn btn-outline-primary mt-3 mb-4"
                        id="submitBtn">Update Doodle</button>
                <a class="btn btn-outline-danger mt-3 mb-4 ml-2" href="#" onclick="hideEditRegion();">Cancel</a>
            </form>
        </div>
    </div>

    <!--Div for the modal doodle viewing-->
    <div class="fixed-top w-100 h-100 viewouter"
         style="background-color: rgba(0,0,0,0.5); display: none;"
         id="viewouter">
        <div class="block viewouter" style="height: 10%;"></div>

        <div class="bg-white block col-10 offset-1 col-lg-8 offset-lg-2 pl-3 pb-3 pr-3 pt-1 rounded container-fluid"
             style="height: 80%; min-height:auto; border: 1px solid gray; overflow: scroll;" id="viewregion">

            <!--Row with username and close button-->
            <div class="row m-0 mt-2">
                <!--User Icon-->
                <span class="col-1 p-0 mb-auto mt-auto text-center">
                    <svg width="1em" height="1em"
                         viewBox="0 0 16 16"
                         class="bi bi-person-circle"
                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
                        <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
                    </svg>
                </span>

                <!--Username-->
                <div class="col-9 p-0 mb-auto mt-auto">
                    <span class="mt-auto mb-auto col-10 p-0" id="viewusername">Username</span>
                </div>

                <!--Close button-->
                <div class="col-2 text-right text-danger">
                    <a href="#" onclick="hideViewRegion();" style="color: inherit;">
                        <svg width="36px" height="36px" style="cursor:pointer;" viewBox="0 0 16 16" class="bi bi-x-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                        </svg>
                    </a>
                </div>
            </div>

            <!--Canvas where the current doodle is shown-->
            <canvas class="p-0 col-12 rounded mt-2" style="border: 1px solid gray; image-rendering: pixelated;"></canvas>

            <!--Row with the like count and title of doodle post-->
            <div class="row m-0 mt-2">
                <!--Heart icon-->
                <span id="likes" class="col-2 col-sm-1 p-0 text-center">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                    </svg>
                    <!--Number of likes-->
                    <span id="viewlikes">99</span>
                </span>
                <!--Title of the doodle post-->
                <b id="viewtitle" class="col-10 col-sm-11 p-0 pl-1">Title test</b>
            </div>

            <!--Row with the posted date & time of the post-->
            <div class="row m-0 mt-2">
                <span id="viewtime" class="pl-1">12:59 PM, 10/29/21</span>
            </div>
        </div>
    </div>

    <!--Div for the modal doodle delete-->
    <div class="fixed-top w-100 h-100 deleteouter"
         style="background-color: rgba(0,0,0,0.5); display: none;"
         id="deleteouter">
        <!--Div for spacing above the delete modal-->
        <div class="block deleteouter" style="height: 35%;"></div>

        <!--Div for the modal-->
        <div class="bg-white block col-8 offset-2 p-3 rounded container-fluid"
             style="height: auto; border: 1px solid gray;" id="deleteregion">

            <h3 class="row col-12">Are you sure?</h3>
            <hr/>

            <div row="container-fluid">
                <div class="text-warning col-3 col-sm-2 d-inline">
                    <svg width="2.125em" height="2em" viewBox="0 0 17 16" class="bi bi-exclamation-triangle mb-4 mb-sm-0" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M7.938 2.016a.146.146 0 0 0-.054.057L1.027 13.74a.176.176 0 0 0-.002.183c.016.03.037.05.054.06.015.01.034.017.066.017h13.713a.12.12 0 0 0 .066-.017.163.163 0 0 0 .055-.06.176.176 0 0 0-.003-.183L8.12 2.073a.146.146 0 0 0-.054-.057A.13.13 0 0 0 8.002 2a.13.13 0 0 0-.064.016zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
                      <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
                    </svg>
                </div>
                <div class="col-7 col-sm-8 d-inline-block">Deleting a doodle is permanent.</div>
            </div>
            <hr/>

            <!--Div containing the delete confirmation buttons-->
            <div class="row col-12 p-0 m-0 justify-content-end">
                <a class="btn btn-outline-secondary mr-2" href="#" onclick="hideDeleteRegion();">Cancel</a>
                <form method="post" th:action="@{/delete}" th:id="deleteform">
                    <button class="btn btn-outline-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>

    <footer th:replace="fragments/base :: footernormal"></footer>

    <div th:replace="fragments/base :: scripts"></div>
    <!-- p5js running script -->
    <script th:src="@{/scripts/draw_script.js}"></script>
    <!-- My posts elements sizing & placing script -->
    <script th:src="@{/scripts/myposts_script.js}"></script>

    <script th:if="${hasError}">
        showEditRegion();
    </script>

</body>
</html>